@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color:#000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container-section {
  width: 1060px;
  margin: 0 auto;
}

/* Buttons */

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.button {
  padding: 8px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button:disabled {
  background-color: #e5e5e5;
  cursor: default;
}

.button:disabled:hover {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-brown {
  background-color: #756157;
}

.button-brown:focus,
.button-brown:hover {
  outline: none;
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:focus,
.button-blue:hover {
  outline: none;
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7db54f;
}

.button-green:focus,
.button-green:hover{
  outline: none;
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  color: rgba(131, 179, 211, 0.1);
  background-color: transparent;
}

.button-reset:disabled:hover {
  background-color: transparent;
}

/* Main page */

.navigation {
  display: flex;
}

.header-logo {
  position: relative;
  margin-right: 30px;
  height: 64px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  list-style-type: none;
}

.navigation-menu {
  width: 500px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  position: relative;
  text-decoration: none;
}

.navigation-menu .navigation-link {
  padding: 20px 16px;
  color: #000000;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
}

.navigation-link-current::before {
  content: '';
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: #756257;
  left: 16px;
  right: 16px;
  z-index: 1;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link-favourites span:last-child {
  position: absolute;
  top: 12px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
}

.button-header {
  display: block;
  min-width: 160px;
  margin-left: 20px;
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 51px 0 82px;
  background: url('../images/hero-background.jpg') 100%/cover no-repeat;
  background-color: #accade;
}

.hero::after {
  content: '';
  position: absolute;
  background-image: url('../icons/decorative-line.svg');
  background-size: cover;
  bottom: -1px;
  left: 0;
  width: 1200px;
  height: 57px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.section-text-heading {
  margin: 0 auto;
  margin-bottom: 21px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.section-text-subheading {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/* Advantages section */

.advantages .section-text-wrapper {
  padding: 72px 0 90px;
}

.advantages .section-text-heading {
  width: 620px;
}

.advantages .section-text-subheading {
  width: 651px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-wrapper-light,
.advantages-item-wrapper-dark {
  padding: 114px 85px;
}

.advantages-item-blue {
  background-color: #82b3d3;
}

.advantages-item-heading {
  position: relative;
  margin: 0 0 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-item-heading::after {
  content: '';
  position: absolute;
  bottom: -31px;
  right: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light h3,
.advantages-item-dark h3 {
  color: #000000;
}

.advantages-item-light h3::after,
.advantages-item-dark h3::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-light p,
.advantages-item-dark p {
  color: #333333;
}

.advantages-item-img-wrapper {
  display: flex;
  background-color:#82b3d3;
}

.advantages-item-img-wrapper img {
  width: 100%;
  object-fit: contain;
}

/* Services section*/

.services .section-text-wrapper {
  padding: 64px 0;
}

.services .section-text-heading {
  width: 505px;
  margin-bottom: 20px;
}

.services .section-text-subheading {
  width: 490px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 155px 85px 77px 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

 .services-item:first-child {
  background: url('../icons/house.svg') 162px 80px no-repeat;
}

 .services-item:nth-child(2) {
  background: url('../icons/food.svg') 162px 81px no-repeat;
}

.services-item:last-child {
  background: url('../icons/gift.svg') 167px 79px no-repeat;
}


.services-item-heading {
  margin: 30px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*search section*/

.search {
  padding: 95px 0;
}

.search .section-text-wrapper {
  margin-bottom: 54px;
}

.search .section-text-heading {
  width: 300px;
}

.search .section-text-subheading {
  width: 592px;
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-search {
  min-width: 376px;
  line-height: 36px;
}

/*subscribe section*/

.subscribe {
  padding: 96px 0 104px;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #accade;
  color: #ffffff;
}

.subscribe .section-text-wrapper {
  margin-bottom: 54px;
  color:#ffffff
}

.subscribe .section-text-heading {
  width: 404px;
}

.subscribe .section-text-subheading {
  width: 475px;
  color:#ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.field {
  margin: 0;
  width: 452px;
  padding: 14px 20px;
  font: inherit;
  font-weight: 700;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.field:focus,
.field:hover {
  background-color: #e6e6e6;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

.field:focus::selection {
  background-color: #e6e6e6;
}

.field::placeholder {
  opacity: 0.6;
}

.button-subscribe {
  min-width: 232px;
  line-height: 36px;
  border-radius: 0px 4px 4px 0px;
}

/* Footer */

.main-footer {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-contacts {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 144px;
  margin-right: 237px;
}

.footer-social-link {
  position: relative;
  display: block;
  padding: 13px 12px;
  min-width: 48px;
  min-height: 40px;
}

.footer-social-link:focus {
  outline: none;
}


.footer-social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:focus .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-link:active .footer-social-icon {
  fill:rgba(104, 162, 202, 0.3);
}

.footer-social-icon:hover {
  fill: #68a2ca;
}

.footer-contacts-phone {
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-contacts-phone:focus,
.footer-contacts-phone:hover {
  outline: none;
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-author {
  margin-left: auto;
}

.footer-author-link {
  display: flex;
}

.footer-author-link:focus .footer-author-icon {
  outline: none;
  fill: #756157;
}

.footer-author-link:active .footer-author-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-author-icon {
  fill: #000000;
}

.footer-author-icon:hover {
  fill: #756157;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.modal-close-button-icon {
  position: absolute;
  left: 19px;
  top: 19px;
}

.modal-close-button:focus,
.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  outline: none;
}

.modal-close-button:active .modal-close-button-icon path {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
  text-transform: uppercase;
}

.date-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.check-in-field-wrapper {
  margin-bottom: 44px;
}

.check-out-field-wrapper {
  margin-bottom: 44px;
}

.modal-content label {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

.check-in-label {
  margin-right: 24px;
}

.check-out-label {
  margin-right: 18px;
}

.date-field {
  width: 440px;
  border-radius: 4px;
}

.button-date {
  position: absolute;
  top: 18px;
  right: 23px;
  width: 16px;
  height: 15px;
  background-image: url('../icons/calendar.svg');
  background-color: transparent;
}

.search-text {
  position: absolute;
  top: 53px;
  left: 157px;
  font-weight: 400;
  font-size: 16px;
  line-height: 131%;
  color: #333333;
}

.search-text-error {
  color: #ff5757;
}

.guests-field-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.guests-field-wrapper {
  display: flex;
  align-items: center;
}

.guests-field-count {
  position: relative;
}

.adult-field-count {
  margin-left: 46px;
}

.children-field-count {
  margin-left: 82px;
}

.guest-field {
  width: 110px;
  text-align: center;
}

.guest-field:focus,
.guest-field:hover {
  background-color: #f2f2f2;
}

.guest-field:focus {
  outline: none;
}

.guest-field:focus::selection {
  background-color: #f2f2f2;
}

.guest-field-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 4px;
}

.button-min {
  left: 10px;
}

.button-max {
  right: 10px;
}

.button-count-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.guest-field-button:focus {
  outline: 3px solid #82b3d3;
}

.guest-field-button:hover .button-count-icon path {
  fill: #000000;
  fill-opacity: 1;
}

.guest-field-button:active {
  outline: none;
}

.guest-field-button:active .button-count-icon path {
  fill:#756157;
  fill-opacity: 0.3;
}

.children-label-icon {
  padding-left: 16px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: 0px;
  margin-left: 10px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #83b3d3;
  border-radius: 100%;
}

.tooltip-icon {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

/* .tooltip-toggle:hover .tooltip-icon {
  color: #AF7842;
} */

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 125%;
  font-weight: normal;
  padding: 22px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
  display: none;
}

.tooltip-text::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #333333;
  top: -9px;
  left: 117px;
  width: 19px;
  height: 9px;
  background-image:
  linear-gradient(135deg, #ffffff 34%, transparent 34%),
  linear-gradient(225deg, #ffffff 34%, transparent 34%);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-search-button {
  width: 100%;
  padding: 18px 77px;
  border-radius: 10px;
}




/*Catalog*/

.filter-section {
  padding: 36px 0 69px;
  background-image: url('../images/catalog/filter-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/*breadcrumbs*/

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item-first {
  width: 16px;
  height: 16px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 25px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../icons/arrow-right.svg');
  position: absolute;
  top: -3px;
  right: -15px;
}

.breadcrumbs-item-first::after {
  content: url('../icons/arrow-right.svg');
  position: absolute;
  top: -4px;
  right: -20px;
}

.breadcrumbs-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:focus {
  outline: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  position: absolute;
  top: 0px;
  left: 0px;
}

/*filter*/

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group-left {
  display: flex;
  justify-content: space-between;
  margin-right: 140px;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-group-left .catalog-filter-group {
  width: 150px;
}

.catalog-filter-group-right {
  display: flex;
}

.catalog-filter-group-right .catalog-filter-group:first-child{
  width: 288px;
}

.catalog-filter-group-right .catalog-filter-group:last-child {
  padding-top: 56px;
  width: 191px;
}

.catalog-filter-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.control-mark-checkbox {
  border-radius: 4px;
}

.control-mark-radio {
  border-radius: 100%;
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:hover .control-label {
  color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark {
  outline: 2px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.3);
}

.control:active .control-label {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  display: inline-block;
  transform: rotate(45deg);
  height: 13px;
  width: 7px;
  border-bottom: 2px solid #3F5E72;
  border-right: 2px solid #3F5E72;
}

.control-input[type="radio"]:checked + .control-mark:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #3F5E72;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 43px;
}

.range-input-holder {
  position: relative;
}

.range-input {
  width: 143px;
  height: 48px;
  font: inherit;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  outline: none;
  background-color: #f2f2f2;
}

.range-input:not(:last-child) {
  margin-right: 2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.range-input:focus {
  border: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.range-input:focus::selection {
  background-color: #f2f2f2;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input-label {
  position: absolute;
  left: 106px;
  top: 12px;
  color: rgba(0, 0, 0, 0.3);
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: 0px;
}

.button-filter {
  min-width: 191px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  padding-right: 58px;
  padding-left: 58px;
  min-width: 191px;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

/*catalog content*/

.catalog-content {
  padding: 47px 0 57px;
}

.catalog-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.catalog-content-title {
  margin: 0 99px 0 0;
  width: 441px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.catalog-content-select {
  width: 292px;
  margin-right: 70px;
}

.select-control {
  width: 100%;
  padding: 12px 50px 14px 18px;
  font: inherit;
  background: url('../icons/arrow-black.svg') no-repeat right center;
  background-position-x: calc(100% - 18px);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  appearance: none;
  border: 2px solid #e5e5e5;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:disabled {
  background-image: url('../icons/arrow-gray.svg');
  border-color: rgba(0, 0, 0, 0.3);
}

.select-control option {
  line-height: 21px;
}

.catalog-content-view {
  display: flex;
  width: 161px;
  flex-wrap: wrap;
}

.button-content-view {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  margin: 4px 0 4px 0;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-content-view:focus {
  border-color: #68a2ca;
}

.button-content-view:hover,
.button-content-view:active{
  border-color: #000000;
}

.button-cards-view {
  background: url('../icons/cards-view.svg') 50% 50% no-repeat;
}

.button-full-size-view {
  background: url('../icons/full-size-view.svg') 50% 50% no-repeat;
}

.button-list-view {
  background: url('../icons/list-view.svg') 50% 50% no-repeat;
}

.button-content-view:not(:nth-child(3n)) {
  margin-right: 8px;
}

/*Список карточек гостиниц*/

.catalog-list {
  margin: 0 0 70px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
}

.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 141px);
  grid-template-rows: 212px min-content auto min-content min-content;
  gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-item-img-link {
  grid-column: 1 / -1;
}

.catalog-item-img {
  width: 100%;
  object-fit: cover;
}

.catalog-item-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: #000000;
}

.catalog-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.catalog-item p {
  margin: 0;
  line-height: 21px;
}

.catalog-item-type {
  grid-column: 1 / 2;
}

.catalog-item-price {
  grid-column: 2 / 3;
  justify-self: end;
}

.button-more, .button-favourite {
  font-size: 16px;
  line-height: 20px;
}

.button-more {
  padding: 8px 26px;
}

.button-favourite {
  padding: 8px 20px;
}

.button-favourite.button-green {
  padding: 8px 18px;
}

.rating-stars {
  align-self: center;
}

.hotel-stars-icons {
  height: 18px;
  background-image: url('../icons/star.svg');
  background-repeat: space;
}

.hotel-stars-icons-2 {
  width: 41px;
}

.hotel-stars-icons-3 {
  width: 64px;
}

.hotel-stars-icons-4 {
  width: 88px;
}

.rating-text {
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*Пагинация*/

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-item {
  margin: 8px 8px 0 0;
}

.pagination-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 11px 0px 13px 0px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82b3d3;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link-current:focus {
  outline: none;
}

.pagination-link:not(.pagination-link-current):focus,
.pagination-link:not(.pagination-link-current):hover {
  outline: none;
  background-color:#68a2ca;
}

.pagination-link:not(.pagination-link-current):active{
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-dots {
  background-color: #ffffff;
  color: #000000;
}

/*Секция с подпиской*/

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-catalog .section-text-heading {
  color: #000000;
}

.subscribe-catalog .section-text-subheading {
  color: #333333;
}

