@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color:#000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.container-section {
  width: 1060px;
  margin: 0 auto;
}

.button {
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

/* Стилизация главной страницы */

.navigation {
  display: flex;
}

.header-logo {
  position: relative;
  margin-right: 30px;
  height: 64px;
  z-index: 20;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  list-style-type: none;
}

.navigation-menu {
  width: 500px;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  text-decoration: none;
}

.navigation-menu .navigation-link {
  padding: 20px 16px;
  color: #000000;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
}

.navigation-link {
  position: relative;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link-favourites span:last-child {
  position: absolute;
  top: 12px;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 5px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #7db54f;
  color: #ffffff;
}

.button-header {
  display: block;
  min-width: 160px;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.main-container {
  flex-grow: 1;

}

.hero {
  position: relative;
  padding: 51px 0 82px;
  background: url('../images/hero-background.jpg') 100%/cover no-repeat;
  background-color: #accade;
}

.hero::after {
  content: '';
  position: absolute;
  background-image: url('../icons/decorative-line.svg');
  background-size: cover;
  bottom: -1px;
  left: 0;
  width: 1200px;
  height: 57px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.section-text-heading {
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.section-text-subheading {
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

/*advantages section*/

.advantages .section-text-wrapper {
  padding: 69px 0 90px;
}

.advantages .section-text-heading {
  width: 620px;
}

.advantages .section-text-subheading {
  width: 651px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  background-color: #82b3d3;
}

.advantages-item-wrapper {
  width: 400px;
  min-height: 385px;
  padding: 102px 85px;
}

.advantages-item-heading {
  position: relative;
  margin: 0 0 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages-item-heading::after {
  content: '';
  position: absolute;
  top: 85px;
  right: 85px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-dark {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-light h3,
.advantages-item-dark h3 {
  color: #000000;
}

.advantages-item-light h3::after,
.advantages-item-dark h3::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-light p,
.advantages-item-dark p {
  color: #333333;
}

.advantages-item-img-wrapper {
  display: flex;
}

.advantages-item-img-wrapper img {
  width: 100%;
  object-fit: cover;
}

/* services section*/

.services .section-text-wrapper {
  padding: 64px 0;
}

.services .section-text-heading {
  width: 505px;
  margin-bottom: 20px;
}

.services .section-text-subheading {
  width: 490px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.services-item:first-child::before {
  content: url('../icons/house.svg');
}

.services-item:nth-child(2)::before {
  content: url('../icons/food.svg');
}

.services-item:last-child::before {
  content: url('../icons/gift.svg');
}


.services-item-heading {
  margin: 30px 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-item-description {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/*search section*/

.search {
  padding: 96px 0;
}

.search .section-text-wrapper {
  margin-bottom: 54px;
}

.search .section-text-heading {
  width: 300px;
}

.search .section-text-subheading {
  width: 592px;
}

.search-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-search {
  min-width: 376px;
  line-height: 36px;
}

/*subscribe section*/

.subscribe {
  padding: 96px 0 104px;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #accade;
  color: #ffffff;
}

.subscribe .section-text-wrapper {
  margin-bottom: 54px;
  color:#ffffff
}

.subscribe .section-text-heading {
  width: 404px;
}

.subscribe .section-text-subheading {
  width: 475px;
  color:#ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form input {
  width: 452px;
  padding: 12px 20px;
  line-height: 24px;
}

.button-subscribe {
  min-width: 232px;
  line-height: 36px;
  border-radius: 0px 4px 4px 0px;
}

/*footer*/

.main-footer {
  padding-top: 45px;
  padding-bottom: 35px;
}

.footer-contacts {
  display: flex;
  align-items: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 144px;
  margin-right: 237px;
}

.footer-social-link {
  position: relative;
  display: block;
  padding: 13px 12px;
  min-width: 48px;
  min-height: 40px;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-contacts-phone {
  text-decoration: none;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-author {
  margin-left: auto;
}

.footer-author-link {
  display: flex;
}

.footer-author-icon {
  fill: #000000;
}

/*Catalog*/

.filter-section {
  padding: 36px 0 69px;
  background-image: url('../images/catalog/filter-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item-first {
  width: 12px;
  height: 12px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 29px;
}

.breadcrumbs-item:not(:first-child):not(:last-child)::after {
  content: url('../icons/arrow-right.svg');
  position: absolute;
  top: 1px;
  right: -18px;
}

.breadcrumbs-item-first::after {
  content: url('../icons/arrow-right.svg');
  position: absolute;
  top: -4px;
  right: -20px;
}



.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-icon {
  position: absolute;
  top: -1px;
  left: 2px;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group-left {
  display: flex;
}

.catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter-group-left > .catalog-filter-group {
  width: 150px;
}

.catalog-filter-group-right {
  display: flex;
}

.catalog-filter-group-right .catalog-filter-group:first-child{
  width: 288px;
}

.catalog-filter-group-right .catalog-filter-group:last-child {
  width: 191px;
}

.catalog-filter-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-inputs {
  display: flex;
}

.catalog-filter-inputs input {
  width: 143px;
}

.button-filter {
  min-width: 191px;
  margin-bottom: 32px;
  line-height: 20px;
}

.button-reset {
  padding-right: 58px;
  padding-left: 58px;
  min-width: 191px;
  line-height: 20px;
  background-color: transparent;
}

.catalog-content {
  padding: 50px 0 60px;
}

.catalog-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-content-title {
  margin: 0 200px 0 0;
  width: 338px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.catalog-content-select {
  width: 292px;
  height: 49px;
  margin-right: 70px;
}

.select-control {
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.select-control option {
  line-height: 21px;
}

.catalog-content-view {
  display: flex;
  align-items: center;
}

.button-content-view {
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-cards-view {
  background: url('../icons/cards-view.svg') 52% 52% no-repeat;
}

.button-full-size-view {
  background: url('../icons/full-size-view.svg') 52% 52% no-repeat;
}

.button-list-view {
  background: url('../icons/list-view.svg') 52% 52% no-repeat;
}

.button-content-view:not(:last-child) {
  margin-right: 8px;
}

.catalog-list {
  margin: 0 0 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
}

.catalog-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px min-content auto min-content min-content;
  gap: 16px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-item-img-link {
  grid-column: 1 / -1;
}

.catalog-item-img {
  width: 100%;
  object-fit: cover;
}

.catalog-item-title-link {
  grid-column: 1 / -1;
  text-decoration: none;
  color: #000000;
}

.catalog-item-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.catalog-item p {
  margin: 0;
  line-height: 21px;
}

.catalog-item-type {
  grid-column: 1 / 2;
}

.catalog-item-price {
  grid-column: 2 / 3;
  justify-self: end;
}

.button-more, .button-favourite {
  font-size: 16px;
  line-height: 20px;
}

.button-more {
  padding: 8px 26px;
}

.button-favourite {
  padding: 8px 20px;
}

.button-favourite.button-green {
  padding: 8px 18px;
}

.rating-stars {
  align-self: center;
}

.hotel-stars-icons {
  height: 18px;
  background-image: url('../icons/star.svg');
  background-repeat: space;
}

.hotel-stars-icons-2 {
  width: 39px;
}

.hotel-stars-icons-3 {
  width: 61px;
}

.hotel-stars-icons-4 {
  width: 83px;
}

.rating-text {
  margin: 0;
  padding: 8px 22px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.pagination-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 11px 0px 13px 0px;
  margin: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82b3d3;
  text-decoration: none;
  color: #ffffff;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-dots {
  background-color: #ffffff;
  color: #000000;
}

.subscribe-catalog {
  background-image: none;
  background-color: #ffffff;
}

.subscribe-catalog .section-text-heading {
  color: #000000;
}

.subscribe-catalog .section-text-subheading {
  color: #333333;
}

